<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>

    <settings>
        <!-- changes from the defaults for testing -->
        <setting name="cacheEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <!--<setting name="logImpl" value="STDOUT_LOGGING"/>-->
        <!--是否启用下划线与驼峰式命名规则的映射（如first_name => firstName）-->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

</configuration>