<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldgroup.ldmall.ldmallproductservice.dao.entity.Product">
    <resultMap id="mapVo" type="com.ldgroup.ldmall.ldmallproductservice.dao.entity.Product">
        <id property="productId" column="product_id"/>
        <result property="productTitle" column="req_id"/>
        <result property="cateId" column="spec_id"/>
        <result property="productStock" column="capability"/>
        <result property="productPrice" column="box_list_json"/>
        <result property="productSale" column="required_detail"/>
        <result property="productStatus" column="required_detail"/>
        <result property="isHot" column="required_detail"/>
        <result property="isNew" column="required_detail"/>
        <result property="productImage" column="sbox_template"/>
        <result property="productImage" column="sbox_template"/>
    </resultMap>

    <select id="selectProductInfoByIds" parameterType="java.util.List" resultMap="mapVo">
        SELECT p.*,pd.* FROM tb_product AS p LEFT JOIN  tb_product_detail AS pd  ON  p.`product_id`=pd.`detail_id`
          WHERE
           p.`product_id`  IN
           <foreach collection="productIds" open="(" close=")" separator="," item="item">
               #{item}
           </foreach>

    </select>

</mapper>